@import '../../../scss/allVariables.scss';

.checkoutBtn {
  @include button_blue;
  padding: 9px 0;
  width: 90%;
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
  cursor: pointer;
  margin: auto;
  &:disabled {
    color: #fff;
  }
}
