@import '../../scss/allVariables.scss';

.container {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.product_cart {
  width: 40%;
}

.attributes {
  display: flex;
  flex-direction: column;
}

.hasDiscount {
  color: red;
  text-decoration: line-through;
}

.noDiscount {
  color: $gray;
}

.discountPrice {
  color: green;
  cursor: pointer;
  &:hover {
    color: $active;
  }
}
