@import '../../scss/allVariables.scss';

.container {
  display: flex;
  justify-content: center;
  margin: 45px 0 100px 0;
}

.catalogBtn {
  @include button_blue;
  @include text;
  padding: 9px 80px;
}

@media (max-width: 1050px) {
  .container {
    margin: 45px 0 60px 0;
  }
}
