label {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #706c68;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  background: white;
  padding: 0px 5px;
  z-index: 1;
}

input {
  position: relative;
  border: 0;
  border-radius: 5px;
  outline: 1px solid #cfcfcf;
  padding: 14px 16px;
  width: 320px;
  background: white;
  box-sizing: border-box;
}

input::placeholder {
  color: #cdcccc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.field {
  position: relative;
  margin: 20px;
}
