@import '../../scss/allVariables.scss';

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.category {
  display: flex;
  transition: all 0.3s ease;
  justify-content: center;
  background-color: inherit;
  border-radius: 10px;
  padding: 5px 10px;
  &:hover {
    background-color: $hover;
  }
}

.activeCategory {
  background-color: $active;
}
