@import '../../../scss/allVariables.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
}

.product_cart {
  padding: 10px;
  width: 290px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #fff;
  border-right: 1px solid $defaultOutline;
  border-bottom: 1px solid $defaultOutline;
  box-shadow: 4px 4px 0px 0px #fff;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    border: 1px solid $active;
    box-shadow: 4px 4px 0px 0px $link;
  }

  .productName {
    font-weight: 500;
    line-height: 140%;
    color: $black;
    font-size: 18px;
    width: 80%;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  .attributes {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    @include text_transparent(15px);
    margin-bottom: 20px;
  }
}

.addToCart {
  @include button_blue;
  padding: 12px 0;
  width: 90%;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1px;
  cursor: pointer;
  &:disabled {
    color: #fff;
  }
}
