@import '../../../../scss/allVariables.scss';

.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 12px 0;
  width: 90%;
  border-radius: 3px;
  justify-content: center;
  border: none;
  color: $black;
  column-gap: 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.discount {
  background-color: $success;
  color: #fff;
}

.default {
  background-color: $defaultOutline;
}

.line {
  text-decoration: line-through;
  opacity: 0.5;
}
