form {
  padding: 0px 50px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1215px;
  margin: 0 auto;
}

.page-title {
  margin: 50px 0px 0px;
  font-size: 46px;
  text-transform: uppercase;
}

.login-link {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.login-link a {
  margin-left: 10px;
  color: #2a76f7;
  font-weight: 500;
  text-decoration: underline;
}

.login-link a:hover {
  color: #2f4dbc;
}

.login-link a:active {
  color: #1f337e;
}

.columns-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  border-radius: 5px;
  outline: 1px solid #cfcfcf;
  width: 100%;
  overflow: hidden;
}
.form-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.registration-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  color: #7F7F7F;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
}

.house-info {
  display: flex;
  justify-content: space-between;
}

.house-number,
.apartment {
  width: 149px;
}

.billing-column {
  padding: 0px 25px 25px;
  height: 100%;
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #CFCFCF;
}