@import '../../../scss/allVariables.scss';

.container {
  display: flex;
  flex: 1 1 45%;
  padding: 30px 25px;
  margin-top: 10px;
  column-gap: 10px;
  border: 1.5px solid white;
  align-items: flex-start;
  border-radius: 0 0 5px 0;
  border-right: 1.5px solid $defaultOutline;
  border-bottom: 1.5px solid $defaultOutline;
  transition: all 0.3s ease;

  h5 {
    @include text;
    font-size: 16px;
    font-weight: 700;
  }

  p {
    margin-top: 16px;
    @include text;
    font-size: 16px;
    max-width: 500px;
  }

  &:hover {
    border-radius: 5px;
    border: 1.5px solid $accent;
    box-shadow: 4px 4px 0px 0px $hover;
    cursor: default;
  }

  img {
    width: 20px;
    margin-top: 2px;
  }
}

@media (max-width: 650px) {
  .container {
    flex: 1 1 100%;
  }
}
