@import '../../../scss/allVariables.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  align-items: baseline;
}

.info {
  display: flex;
  column-gap: 10px;

  p {
    text-wrap: nowrap;
  }
}

.amount {
  color: $accent;
}

.price {
  color: $accent;
  display: flex;
  column-gap: 10px;
  line-height: 100%;
  align-items: center;

  p {
    text-decoration: none;
  }

  .discount {
    text-decoration: line-through;
    color: $disabled;
  }
}
