@import '../../../scss/allVariables.scss';

.container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
  padding: 0 25px;
  background-color: #dfe1e3;
  width: fit-content;
  color: #000;
  font-size: 18px;
  line-height: 140%;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
