@import '../../../../scss/allVariables.scss';

.card {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

p {
  font-size: 16px;
  font-weight: 600;
}

.range {
  width: 90%;
  position: relative;
  margin: 15px 0 30px 0;
  display: flex;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: $hover;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}

.dNone {
  display: block;
}
