.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-label {
  font-size: 13px;
  padding-left: 5px;
  text-align: left;
}

input[type='checkbox'] {
  border: 2px;
  cursor: pointer;
}
