@import '../../../scss/allVariables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transition: all 0.3s ease !important;
  scale: 1.3;
}

.modal-content {
  position: relative;

  img {
    width: 100%;
  }
}

.close-button {
  position: absolute;
  top: 2%;
  right: 1.5%;
  cursor: pointer;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background: $link;
  border-radius: 50%;
  padding: 9px 0 4px 16px;
  z-index: 51;
  transition: all 0.3s ease;

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
  }
}

.swiper-navigation {
  @include swiper_navigation(10px, 97.5%);
}

.swiper-button-prev {
  margin-left: 5px;
  @include swiper_button_prev;
}

.swiper-button-next {
  margin-right: 5px;
  @include swiper_button_next;
}

.swiper-pagination {
  @include swiper_pagination(10px);
}

@media (min-width: 1201px) {
  .modal-content {
    max-width: 900px;
  }
}

@media (max-width: 1200px) {
  .modal-content {
    max-width: 70%;
  }
}

@media (max-width: 750px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
