@import '../../../scss/allVariables.scss';

.attributes {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  @include text_transparent(14px);

  li {
    list-style: none;
    display: flex;
    margin-right: 10px;
  }

  .item-title {
    margin-right: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-wrap: nowrap;
  }

  .item-info {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
