@import '../../scss/allVariables.scss';

.container {
  @include form_container;
  max-width: 768px;
}

.info-container {
  @include form_container;
  flex-direction: row;
  max-width: 768px;
  >*{
    color: $title;
    background: $footer;
  }

  :first-child {
    position: relative;
    left: 7px;
  }

  .info-container_title {
    margin-top: 50px;
    @include profile-title;
    @include font(17px, 23.8px, 500);
  }
}

.page-title {
  @include forms_page_title;
}

.active {
  background: $while;
  color: $link;
  z-index: 1;
}
