@import '../../scss/allVariables.scss';
@import '../../components/button/button.module.scss';
@import '../../components/profile/form/form.module.scss';

.container {
  @include form_container;
  max-width: 768px;
}

.info-container {
  @include form_container;
  flex-direction: row;
  max-width: 768px;
  margin: 0;
  > * {
    color: $title;
    background: $footer;
  }

  :first-child {
    position: relative;
    left: 7px;
  }

  .info-container_title {
    margin-top: 50px;
    @include profile-title;
    @include font(17px, 23.8px, 500);
  }
}

.page-title {
  @include forms_page_title;
}

.active {
  background: $while;
  color: $link;
  z-index: 1;
}

.table-button {
  display: flex;
  justify-content: center;
}

.form-message {
  margin: auto;
  font-size: 14px;
  text-align: center;
  color: white;
  width: 80%;
  padding: 5px;
  border-radius: 3px;
}

.error {
  background: red;
}

.success {
  background: green;
}
