@import './scss/allVariables.scss';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Ubuntu,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

$border: 1px solid #cfcfcf;

input,
select {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

a,
button {
  transition: all 0.3s ease;
}

.swiper-button-prev {
  margin-left: 5px;
  @include swiper_button;
}

.swiper-button-next {
  margin-right: 5px;
  @include swiper_button;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background: $link !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: $link !important;
}

@media (max-width: 750px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
