$gray: #343234;
$disabled: #a1a1a1;
$disabledText: #9e9e9f;
$accent: #3e66fb;
$hover: #2f4dbc;
$active: #1f337e;
$defaultInput: #cdcccc;
$defaultOutline: #cfcfcf;
$defaultLabel: #706c68;
$error: #fb3e3e;
$warning: #f67f00;
$success: #06c13a;
$black: #000000;
$footer: #f4f4f4;
$while: #ffffff;
$title: #7f7f7f;
$table-title: #030303;
$black-text: #323032;
