@import '../../scss/allVariables.scss';

.container {
  display: flex;
  flex-direction: column;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  outline: 1px solid $defaultOutline;

  @media (max-width: 1000px) {
    flex-direction: row;
  }
}
