.password-input label {
  left: 30px;
}

.password-input {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
